// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Poppins&display=swap');
$base-font: 'Poppins', sans-serif;
$header-font: "Libre Franklin", "sans-serif";

$base-size: 16px;
$base-height: 1.4;

// Datesy Colors

$pink: #FCBDE5;
$blue: #3727BA;
$dark-green: #1B5457;
$light-green: #E9F6BF;
$teal: #C8D9DA;
$off-white: #FFFFF4;
$off-black: #323232;
