<div class="content">
  <h1>Find A Bike of Your Choice</h1>
  <p> Let Bikebnb help you put your bike up for rent or rent a good bike from a good around your location</p>
  <div class="m-5">
    <p><%= link_to "Rent A Bike", bikes_path, class: "btn btn-primary btn-lg btn-block" %></p>
    <p><%= link_to "Put A Bike Up For Rent", new_bike_path, class: "btn btn-success btn-lg btn-block" %></p>
  </div>
</div>
