<div class="container">
  <div class="row text-center">
    <div class="col-md-8">
      <h2>Thank you for your payment</h2>
      <%= link_to "OK", bike_path(@bike), class:"btn btn-success btn-payment-ok" %>
    </div>
  </div>
</div>
