<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-2">
      <h4>Edit Your Bike here:</h4>
      <%= render 'form', bike: @bike  %>

      <%= link_to 'Show', @bike %>
    <%= link_to "back", bikes_path %>
    </div>

  </div>
</div>
